body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}

.site-hdr {
  border-bottom: 1px solid #e7e9fc;
}

.site-nav {
  display: flex;
  align-items: center;
}

.ws-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* line-height: 21px; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.ws-logo-black {
  color: #2e2f42;
}

.ws-logo-white {
  color: #f4f4fd;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-item {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.nav-list:hover,
.nav-list:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contact-item {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-item:hover,
.contact-item:focus {
  color: #404bbf;
}

.hero-bg,
.ws-bottom-bg {
  background: #2e2f42;
}

.hero-text {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 700;
  font-size: 56px;

  line-height: 1.07; /* line-height: 60px; */
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.order-btn {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}

.order-btn:hover,
.order-btn:focus {
  background: #404bbf;
}

.feature-title {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-desc {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  /* color: #434455; */
}

.team {
  background: #f4f4fd;
}

.title-text {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11; /* line-height: 40px; */
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-card {
  background: #fff;
}

.team-name {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2; /* line-height: 24px; */
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-position {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.proj-title {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.proj-type {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.ws-desc {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
